@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingDesktopTheme;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/Southeast_Bookstore_Logo.svg";
}

<div class="header">
    @Html.Widget("header")
    <div class="header-logo">
        <a href="@Url.RouteUrl("HomePage")">
            <img title="" alt="" src="@Url.Content(logoPath)">
        </a>
    </div>
    <div class="header-links-wrapper">
        @Html.Action("HeaderLinks", "Common")
        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
    </div>
    <div class="search-box">
        @Html.Action("SearchBox", "Catalog")
        @* put facebook and other thing here *@
        <div id="facebookLinkAndChurchInfo">
            <a id="seccLinkToChurch" class="xtraLink" target="_blank" href="http://www.southeastchristian.org"> visit southeast christian church's site </a>
        </div>
    </div>
    <div class="header-selectors-wrapper">
        <div class="tax-display-type-selector">
            @Html.Action("TaxTypeSelector", "Common")
        </div>
        <div class="currency-selector">
            @Html.Action("CurrencySelector", "Common")
        </div>
        <div class="language-selector">
            @Html.Action("LanguageSelector", "Common")
        </div>
        @Html.Widget("header_selectors")
    </div>
</div>
